#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-wrapper {
  margin: 20px;
}

.input-wrapper input {
  padding: 10px;
}

button {
  margin-left: 10px;
}
